<!-- start custom analytics snippet -->
<!-- Default Statcounter code for Kaushik Sinha Github
https://kaushik-sinha.github.io/ -->
<script type="text/javascript">
var sc_project=12197928; 
var sc_invisible=0; 
var sc_security="e3435ec9"; 
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12197928/0/e3435ec9/0/"
alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
<!-- end custom analytics snippet -->
